
!.vscode/extensions.json
!wallpaper-frontend/static/
# Editor directories and files
# Logs
# 保留 static 目录用于 Wallpaper Engine
*.local
*.log
*.njsproj
*.ntvs*
*.sln
*.suo
*.sw?
.DS_Store
.idea
.vscode/*
dist
dist-ssr
lerna-debug.log*
logs
node_modules
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

release/
